@import (inline) 'bower_components/bootstrap/dist/css/bootstrap.min.css';
@import (inline) 'bower_components/metisMenu/dist/metisMenu.min.css';
@import (inline) 'bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css';
@import (inline) 'bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css';
@import (inline) 'bower_components/font-awesome/css/font-awesome.min.css';
@import (inline) 'bower_components/fancybox/source/jquery.fancybox.css';

.datatable-actionable {
    tr > td:last-of-type {
        text-align: center;
    }
}

.search-highlight {
    background: #ff0;
    border: 1px solid #dd0;
    border-radius: 4px;
    margin: -1px;
}

.fancybox-lock .fancybox-overlay {
    overflow-y: auto;
}